/* Hide header */
header {
    display: none;
}

/***** Global Styles ******/




/********** Mobile Styles **********/

/***** Treat Your Pet Styles *****/
#treat-your-pet {
    display: flex;
    flex-direction: column-reverse;
}

button {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/******* Our Treat Styles ******/
.hide {
    display: none;
}
